
    <!-- Index -->
    <h4>Q.<%= reading_problem.index %></h4>

    <!-- Question -->
    <div>
        <strong>Question:</strong>
        <%= reading_problem.question %>
    </div>

    <!-- Question -->
    <div>
        <strong>Answer:</strong>
        <%= reading_problem.answer %>
    </div>
