<div class="container">
    <!-- Heading -->
    <h1>Editing prompt</h1>

    <!-- Edit Prompt Form -->
    <%= render "form", prompt: @prompt %>

    <br>

    <div>
        <!-- Show Prompt Link -->
        <%= link_to "Show this Prompt", @prompt %> |
        <!-- Back to all Readings Link -->
        <%= link_to "Back to prompts", prompts_path %>
    </div>
</div>