<div class="container">
    <!-- Heading -->
    <h1>New prompt</h1>

    <!-- New prompt Form -->
    <%= render "form", prompt: @prompt %>
    <br>

    <!-- Back to all prompts Link -->
    <div>
        <%= link_to "Back to prompts", prompts_path %>
    </div>
</div>