<div class="container">
    <!-- Render prompt -->
    <%= render @prompt %>

    <div>
        <!-- Link back to all prompts -->
        <%= link_to "Back to prompts", prompts_path %>
    </div>
</div>