<div id="<%= dom_id reading %>">
    <!-- Title -->
    <h2><%= reading.title %></h2>

    <!-- Level -->
    <h4>Level: <%= reading.level %> </h4>
    
    <!-- Reading Body -->
    <div>
        <%= reading.body %>
    </div>
</div>
