<div class="container">
    <!-- Heading -->
    <h1>Editing reading</h1>

    <!-- Edit reading Form -->
    <%= render "form", reading: @reading %>

    <br>

    <div>
        <!-- Show reading Link -->
        <%= link_to "Show this reading", @reading %> |
        <!-- Back to all Readings Link -->
        <%= link_to "Back to readings", readings_path %>
    </div>
</div>