<div class="container">
    <!-- Heading -->
    <h1>New reading</h1>

    <!-- New reading Form -->
    <%= render "form", reading: @reading %>
    <br>

    <!-- Back to all Readings Link -->
    <div>
        <%= link_to "Back to readings", readings_path %>
    </div>
</div>