<div class="container">
    <!-- Render Reading -->
    <%= render @reading %>

    <div>
        <!-- Link back to all Readings -->
        <%= link_to "Back to readings", readings_path %>
    </div>
</div>

<div class= "container">
    <h4>Which Paragraph?</h4>

    <% @reading_problems.each do |reading_problem| %>
        <%= render 'reading_problems/reading_problem', reading: @reading, reading_problem: reading_problem %>
    <% end %>
</div>