<div class="container">
    <!-- Heading -->
    <h1>New listening</h1>

    <!-- New listening Form -->
    <%= render "form", listening: @listening %>
    <br>

    <!-- Back to all listenings Link -->
    <div>
        <%= link_to "Back to listenings", listenings_path %>
    </div>
</div>