<div class="container">
    <!-- Render Listening -->
    <%= render @listening %>

    <div>
        <!-- Link back to all Listenings -->
        <%= link_to "Back to listenings", listenings_path %>
    </div>
</div>

<div class= "container">
    <% @listening_options.each do |listening_option| %>
        <%= render 'listening_options/listening_option', listening: @listening, listening_option: listening_option %>
    <% end %>
</div>